<div class="row">
  <h4>Twist Edit</h4>
  <form method="POST" action="/cocktails/<%= cocktail.id %>/twists" enctype="multipart/form-data">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <label for="image"></label>
    <input type="file" name="image" id="image">
    <label for="recipe"></label>
    <textarea name="recipe" id="recipe" placeholder="Recipe"></textarea>

    <label for="sweet">Sweet</label>
    <select name="sweet">
      <option type="number" name="sweet" value="<% cocktail.twists.id.sweet ">0</option>
      <option type="number" name="sweet" value="1">1</option>
      <option type="number" name="sweet" value="2">2</option>
    </select>
    <label for="tart">Tart</label>
    <select name="tart">
      <option type="number" name="tart" value="0">0</option>
      <option type="number" name="tart" value="1">1</option>
      <option type="number" name="tart" value="2">2</option>
    </select>
    <label for="bitter">Bitter</label>
    <select name="bitter">
      <option type="number" name="bitter" value="0">0</option>
      <option type="number" name="bitter" value="1">1</option>
      <option type="number" name="bitter" value="2">2</option>
    </select>
    <button class="button">Add a Twist</button>
  </form>
</div>
