<!DOCTYPE html>
<html>
  <head>
    <%- include partials/_head %>
  </head>
  <body>
    <header>
      <%- include partials/_navbar %>
    </header>
    <main>
      <%- body %>
    </main>
  </body>
</html>
