<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>project-full-stack-app</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js" charset="utf-8"></script>
    <script type="text/javascript">
      if (window.location.hash && window.location.hash == '#_=_') {
          window.location.hash = '';
      }
    </script>
  </head>
  <body>
    <header>
      <%- include partials/_navbar.ejs %>
    </header>
    <% for(const type in messages) { %>
      <div class="<%= type %>">
        <h5><%= messages[type] %></h5>
      </div>
    <% } %>
    <main class="container">
      <%- body %>
    </main>
  </body>
</html>
