<div class="row">
  <% cocktails.forEach((cocktail) => { %>
      <div class="col-lg-3 col-md-6 col-sm-12 crop">
        <a href="/cocktails/<%= cocktail.id %>"><h2><%= cocktail.name %></h2>
        <img class="img-fluid" src="/assets/images/<%= cocktail.image %>" alt="<%= cocktail.name %>"></a>
      </div>
  <% }) %>
</div>
