@import "bootstrap/bootstrap";
@import "variables/_fonts";
@import "variables/_colors";

*, button, a {
  font-family: $header-font;
  font-color: #000;
  text-decoration: none;
}

nav {
  background-color: $third-color !important;
}

.success{
  margin-top: 20px;
  border-radius: 10px;
  background-color: #98FB98;
  padding: 10px;
  p {
    margin: 0;
    text-align: center;
  }
}

.danger{
  margin-top: 20px;
  border-radius: 10px;
  background-color: #ff6961;
  padding: 10px;
  p {
    margin: 0;
    text-align: center;
  }
}

li {
  list-style: none;
  a {
    font-size: 20px!important;
    color: $second-color;
    font-weight: 500;
  }
}

a {
  a:hover {
  text-decoration: none;
  color: $second-color;
  }
}

.dropFromNav {
  margin: 5% auto;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  border-bottom: 2px solid $second-color;
}

.madeIng {
  a {
    color: $second-color;
  }
}

.cocktailDetails {
  a {
    color: $second-color;
    text-decoration: none;
  }
}

.btn-success {
  a {
    color: $primary-color;
    text-decoration: none;
  }
}

div {
  &.siteIntro {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url('../assets/images/largeBar.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    h1 {
      font-family: $header-font;
      font-weight: 700;
      letter-spacing: -2px;
      font-size: 80px;
      margin-top: 10vh;
      margin-left: 40px;
      float: left;
      color: #fff;
    }
  }
}

div {
  &.sessionIntro {
    padding: 10px;
    height: 100vh;
    background-image: url('../assets/images/openingbar.jpg');
    background-size: cover;
    background-position: center;
  }
}

.editBtn {
  a {
    color: #fff;
  }
  margin-bottom: 20px;
}

.btn-danger{
  background-color: $second-color;
}

.sessionForm {
  width: 300px;
  margin: 50px auto;
  a {
    margin: 10px;
  }
}

.sessionBtn {
  text-align: center;
  margin: 20px;
}

.user-details {
  background-color: #fff;
}

.crop {
 height: 300px;
 width: 400px;
 overflow: hidden;
}
.crop img {
 height: auto;
 width: 400px;
}

div.form-group {
  small {
    &.text-muted {
      color: #fff!important;
    }
  }
}

div.carousel {
  background: #ffd6a2;
  width: 100%;
  margin: 0 auto;
  .carousel-item {
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    a {
      font-size: 36px;
      position: absolute;
      bottom: 20%;
      right: 20%;
      color: #fff;
    }
  }
}

.square {
  position: relative;
  width: 50%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}

h4 {
  text-transform: uppercase;
}

.twistName {
  a {
    text-decoration: none;
  }
  h4 {
    color: $second-color;
  }
}

.cocktailName {
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: 700;
}
