@import "bootstrap/bootstrap";

li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

.opening-image {
  background-image: url('../assets/images/openingbar.jpg');
  background-size: cover;
  background-position: center;
}

.user-details {
  background-color: #fff;
}

.crop {
 height: 300px;
 width: 400px;
 overflow: hidden;
}
.crop img {
 height: auto;
 width: 400px;
}
