@import "bootstrap/bootstrap";

a, a:hover {
  text-decoration: none;
}

.opening-image {
  background-image: url('../assets/images/openingbar.jpg');
  background-size: cover;
  background-position: center;
}

.user-details {
  background-color: #fff;
}
