<div class="row">
  <form class="tesco">
    <label for="mainSpirit"></label>
    <input type="text" name="mainSpirit" value="">
    <button>Search</button>
  </form>


  <form method="POST" action="/cocktails/<%= cocktail.id %>/twists" enctype="multipart/form-data">
    <h4>Twist it!</h4>

    <label for="name">Name</label>
    <input type="text" name="name" id="name">

    <label for="recipe">Recipe</label>
    <textarea name="recipe" id="recipe"></textarea>
    <label for="image">Image</label>
    <input type="file" name="image" id="image">

</div>
<div class="row">
    <button class="button">Add a Twist</button>
  </form>
</div>
