<h1><%= twist.name %></h1>

<% if(locals.isAuthenticated) { %>
  <div>
    <h4>Leave a comment</h4>
    <form method="POST" action="/cocktails/<%= cocktail.id %>/twists/<%= twist.id %>/comments">
      <textarea name="content" id="content" placeholder="Comment"></textarea>
      <button class="button">Leave a comment</button>
    </form>
  </div>
<% } %>
